.item {
  
  width: 500px;
  font-size: 20px;
  margin: 0 auto;
  
}

.itemName {
  padding: 20px;
  font-weight: bold;
}

.delbut{
    float: right;
    background-color: rgb(244, 97, 97);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 4px;
    width: 40px;
    padding: 4px;
    cursor: pointer;
}

.completed{
    text-decoration: line-through;
}
